@font-face {
  font-family: 'mont-heavy';
  src: url('assets/fonts/mont-heavy/mont-heavy.woff2') format('woff2'),
    url('assets/fonts/mont-heavy/mont-heavy/mont-heavy.woff') format('woff'),
    url('assets/fonts/mont-heavy/mont-heavy/mont-heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mont-light';
  src: url('assets/fonts/mont-light/mont-light.woff2') format('woff2'),
    url('assets/fonts/mont-light/mont-light/mont-light.woff') format('woff'),
    url('assets/fonts/mont-light/mont-light/mont-light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(117, 71, 71);
  font-family: 'mont-heavy';
}

nav {
  background: linear-gradient(to right, rgb(50, 50, 50), black, black, black, black, black, rgb(50, 50, 50));
  /* background: linear-gradient(to right, blue, yellow, green); */
  /* background: radial-gradient(circle, blue, yellow, green); */
  /* background-color: black; */
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
  /* max-width: 320px; */
}

nav ul {
  list-style: none;
  margin-left: -245px;
  margin-top: -5px;
  margin-bottom: -5px;
  /* margin-left: 75px;
  margin-right: 75px;
  margin-top: -10px;
  margin-bottom: -10px; */
  /* max-width: 320px; */
  /* padding: 20; */
}

nav li {
  display: inline-block;
  margin-left: -5px;
  margin-right: -5px;
  /* overflow: hidden; */
  position: relative;
}

nav li:last-child {
  position: relative;
  right: -195px;
}

/* nav ul li ul {
  display: none;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
} */

nav a.instructions {
  background-image: url(assets/images/icons/question.png);
  width: 50px;
  height: 50px;
  display: block;
}

nav a.stats {
  background-image: url(assets/images/icons/star.png);
  width: 50px;
  height: 50px;
  display: block;
}

nav a.leaderboard {
  background-image: url(assets/images/icons/leaderboardsComplex.png);
  width: 50px;
  height: 50px;
  display: block;
}

.menu {
  /* background-image: url(assets/images/icons/barsHorizontal.png); */
  cursor: pointer;
  /* width: 50px; */
  /* height: 50px; */
  display: block;
}



nav a.menu {
  background-image: url(assets/images/icons/barsHorizontal.png);
  width: 50px;
  height: 50px;
  display: block;
}



.menu-items {
  /* display: none; */
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
  display: block;
  /* justify-content: space-around; */
  /* flex-flow: row nowrap; */

  right: 0;
  /* float: right; */
  /* align: right; */
}

/* Links inside the dropdown */
.menu-items a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  /* justify-content: space-around; */

  text-align: left;
}





.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 7px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}





























.menu-itesssms {
  /* font-size: 16px; */
  /* float: left; */
  /* overflow: hidden; */
  /* display: none; */
  /* position: absolute; */
  /* background-color: #f9f9f9; */
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  /* padding: 14px 16px; */
  /* border: none; */
  /* outline: none; */
  /* background-color: inherit; */
  /* font-family: inherit; */
  /* Important for vertical align on mobile phones */
  /* margin: 0; */
}





nav select {
  background-color: #333;
  color: #fff;
  padding: 14px 16px;
  border: none;
  font-size: 16px;
}








select {
  background-color: #f9f9f9;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}





/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


















#new {
  position: absolute;
  z-index: 2;
  font-family: 'mont-heavy';
}




.instructions-button {
  background-image: url(assets/images/icons/question.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  /* display: block; */
}
















/* 
body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(117, 71, 71);
  /* black; */
/* color: white;
  font-family: 'mont-heavy';
  margin-left: 20px;
  margin-right: 20px; */
/* } */







/* h4 {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 25px;
} */

/* nav {
  text-align: center;
} */



/* nav li:last-child {
  grid-area: last;
} */


/* nav li:first-child {
  position: relative;
  right: 120px;
} */

/* nav li:last-child {
  float: right;
} */

/* nav a {
  /* padding: 10px; */
/* } */


/* nav {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-areas: " . . . ";
  place-items: center; */
/* grid-gap: -10px;
} */



/* nav a.home {
  background-position: -69px -136px;
  left: 20px;
  width: 70px;
  height: 58px;
  scale: 0.5;
  /* display: block; */
/* } */

/*  nav a.about {
  background-position: -69px -136px;
  left: 20px;
  width: 70px;
  height: 58px;
  scale: 0.5;
  display: block;
} */

/* nav a.contact {
  background-position: -100px 0;
  width: 50px;
  height: 50px;
  display: block;
} */



*/
/* #instructions-header {
  color: white;
  font-family: 'mont-heavy';
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
} */

.instructions {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* row-gap: 10px; */
  /* align-items: center; */
  color: white;
  font-family: 'mont-heavy';
  /* text-align: left; */
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  height: 500px;
  /* align-items: center; */
}

/* can the height be a variable? */
table.scores,
table.scores th,
table.scores td {
  /* border: 8px solid rgb(31, 30, 30); */
  text-align: left;
  font-size: 20px;
  border: none;
}

table.scores th {
  position: sticky;
  top: 0;
  background: rgb(31, 30, 30);
  height: 30px;
  /* border: 8px solid rgb(31, 30, 30); */
}

table.scores {
  table-layout: fixed;
  width: 100%;
  border: none;
}

/* 
table.scores,
table.scores th,
table.scores td {
  border: 4px solid rgb(31, 30, 30);
  text-align: left;
  font-size: 20px;
}

table.scores {
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

table.scores th,
table.scores td {
  padding: 2px;
}

table.scores th {
  position: sticky;
  top: 0; 
  background: rgb(31, 30, 30); 
  height: 30px; 
  box-shadow: 0 0 6px rgb(29, 194, 29);
}

table.info {
  margin-top: -4px; 
  text-align: left;
  font-size: 20px;
} */

img {
  margin: auto;
  display: block;
  width: 250px;
  height: auto
}

/* #instructions input {
  display: block;
} */

#form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
}

#form-wrapper input {
  display: block;
}

input[type=text] {
  width: 200px;
  font-family: 'mont-heavy';
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 30, 30);
  /* border: none; */
}

input[type=button] {
  font-family: 'mont-light';
  /* color: rgb(29, 194, 29); */
  background-color: rgb(31, 30, 30);
}

.smallButton {
  width: 100px;
  font-size: 26px;
}

.bigButton {
  width: 120px;
  font-size: 30px;
  /* border: none; */
  /* font-family: 'mont-light'; */
  color: rgb(255, 255, 255);
}

/* Use this to shake input when text is invalid */
.error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    left: -5px;
  }

  100% {
    right: -5px;
  }
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li,
#navlist a {
  height: 66px;
  display: block;
}

#question,
#leaderboards {
  background-image: url('assets/images/icons/icons.png');
  background-repeat: no-repeat;
}

#question {
  background-position: -200px 0px;
  /* left: 200px;
  width: 46px; */
  left: 0px;
  width: 42px;
  height: 66px;
  /* background: url('assets/images/icons/icons.png') -200px 0px; */
  scale: 0.5;
}

#leaderboards {
  background-position: -69px -136px;
  /* left: 200px;
  width: 46px; */
  left: 20px;
  width: 70px;
  height: 58px;
  /* background: url('assets/images/icons/icons.png') -69px -136px; */
  scale: 0.5;
}

#home {
  left: 0px;
  width: 46px;
  background: url('assets/images/icons/icons.png') 0 0;
}


.flags-canada,
.flags-mexico,
.flags-usa {
  background-image: url('assets/images/icons/icons.png');
  background-repeat: no-repeat;
}

.flags-canada {
  height: 128px;
  background-position: -5px -5px;
}

.flags-usa {
  height: 15px;
  background-position: 0px 0px;
}

.flags-mexico {
  height: 147px;
  background-position: -5px -288px;
}