@font-face {
  font-family: 'mont-heavy';
  src: url('assets/fonts/mont-heavy/mont-heavy.woff2') format('woff2'),
    url('assets/fonts/mont-heavy/mont-heavy/mont-heavy.woff') format('woff'),
    url('assets/fonts/mont-heavy/mont-heavy/mont-heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mont-light';
  src: url('assets/fonts/mont-light/mont-light.woff2') format('woff2'),
    url('assets/fonts/mont-light/mont-light/mont-light.woff') format('woff'),
    url('assets/fonts/mont-light/mont-light/mont-light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  /* black; */
  /* color: white;
  font-family: 'mont-heavy';
  margin-left: 20px;
  margin-right: 20px; */
}

/* header {
  color: red;
  text-align: center;
} */

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: blueviolet;
  /* padding: 20px 10px; */
  /* display: inline-block; */
  /* display: flex; */
  /* height: 5%; */
  /* vertical-align: middle; */
  /* font-size: 0px; */
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.header-left {
  float: left;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    /* display: flex; */
    font-size: 0px;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .header-leftt {
    float: none;
  }
}

h4 {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 25px;
}

/* #instructions-header {
  color: white;
  font-family: 'mont-heavy';
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
} */

.instructions {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* row-gap: 10px; */
  /* align-items: center; */
  color: white;
  font-family: 'mont-heavy';
  /* text-align: left; */
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  height: 500px;
  /* align-items: center; */
}

/* can the height be a variable? */
table.scores,
table.scores th,
table.scores td {
  /* border: 8px solid rgb(31, 30, 30); */
  text-align: left;
  font-size: 20px;
  border: none;
}

table.scores th {
  position: sticky;
  top: 0;
  background: rgb(31, 30, 30);
  height: 30px;
  /* border: 8px solid rgb(31, 30, 30); */
}

table.scores {
  table-layout: fixed;
  width: 100%;
  border: none;
}

/* 
table.scores,
table.scores th,
table.scores td {
  border: 4px solid rgb(31, 30, 30);
  text-align: left;
  font-size: 20px;
}

table.scores {
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

table.scores th,
table.scores td {
  padding: 2px;
}

table.scores th {
  position: sticky;
  top: 0; 
  background: rgb(31, 30, 30); 
  height: 30px; 
  box-shadow: 0 0 6px rgb(29, 194, 29);
}

table.info {
  margin-top: -4px; 
  text-align: left;
  font-size: 20px;
} */

img {
  margin: auto;
  display: block;
  width: 250px;
  height: auto
}

/* #instructions input {
  display: block;
} */

#form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
}

#form-wrapper input {
  display: block;
}

input[type=text] {
  width: 200px;
  font-family: 'mont-heavy';
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(31, 30, 30);
  /* border: none; */
}

input[type=button] {
  font-family: 'mont-light';
  /* color: rgb(29, 194, 29); */
  background-color: rgb(31, 30, 30);
}

.smallButton {
  width: 100px;
  font-size: 26px;
}

.bigButton {
  width: 120px;
  font-size: 30px;
  /* border: none; */
  /* font-family: 'mont-light'; */
  color: rgb(255, 255, 255);
}

/* Use this to shake input when text is invalid */
.error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    left: -5px;
  }

  100% {
    right: -5px;
  }
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li,
#navlist a {
  height: 66px;
  display: block;
}

.frame {
  height: 25px;
  /* Equals maximum image height */
  width: 160px;
  border: 1px solid red;
  white-space: nowrap;
  /* This is required unless you put the helper span closely near the img */

  text-align: center;
  margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.toolbtn {
  background: url('assets/images/icons/header-icons.png') no-repeat;
  /* display: inline-block; */
  height: 100px;
  width: 100px;
  scale: 0.6;
  /* margin-right: -50px; */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.hbtn {
  background: url('assets/images/icons/header-icons.png') no-repeat;
  /* display: inline-block; */
  height: 100px;
  width: 100px;
  scale: 0.6;
  cursor: pointer;
  border: none;
}

.question {
  background-position: 0px 0px;
  /* display: inline-block; */
  /* display: inline-block;
  height: 100px;
  width: 100px; */
}

.score {
  background-position: -200px 0px;
  /* display: inline-block; */
  /* display: inline-block;
  height: 100px;
  width: 100px; */
}

.leaderBoard {
  background-position: -100px 0px;
  /* display: inline-block; */
}

.lines {
  background-position: -300px 0px;
  /* display: inline-block; */
}

ul.flexbox {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#questionoo,
#leaderboardsoo {
  background: url('assets/images/icons/header-icons.png');
  display: inline-block;
  height: 100px;
  width: 100px;
  scale: 0.6;
  /* background-image: url('assets/images/icons/icons.png');
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: black; */
}

#questionoo {
  background-position: 0px 0px;
  /* background-color: black; */
  /* border: none; */
  /* left: 200px;
  width: 46px; */
  /* left: 0px; */
  /* width: 42px;
  height: 66px; */
  /* background: url('assets/images/icons/icons.png') -200px 0px; */
  /* scale: 0.5;
  border: none;
  outline: none; */
}

#leaderboardsoo {
  background-position: -69px -136px;
  /* left: 200px;
  width: 46px; */
  /* left: 20px; */
  width: 70px;
  height: 58px;
  /* background: url('assets/images/icons/icons.png') -69px -136px; */
  scale: 0.5;
  /* bottom: 20px; */
}


#test {
  background-image: url('assets/images/icons/header-icons.png');
  display: inline-block;
  /* background-repeat: no-repeat; */
  /* border: none;
  outline: none;
  background-color: black; */
}

#test {
  background-position: 0px 0px;
  /* background-color: black; */
  /* border: none; */
  /* left: 200px;
  width: 46px; */
  /* left: 0px; */
  /* width: 42px; */
  height: 32px;
  width: 32px;
  /* background: url('assets/images/icons/icons.png') -200px 0px; */
  /* scale: 0.5; */
  /* border: none; */
}

#home {
  left: 0px;
  width: 46px;
  background: url('assets/images/icons/icons.png') 0 0;
}


.flags-canada,
.flags-mexico,
.flags-usa {
  background-image: url('assets/images/icons/icons.png');
  background-repeat: no-repeat;
}

.flags-canada {
  height: 128px;
  background-position: -5px -5px;
}

.flags-usa {
  height: 15px;
  background-position: 0px 0px;
}

.flags-mexico {
  height: 147px;
  background-position: -5px -288px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  /* overflow: hidden; */
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  /* float: right; */
  /* color: #f2f2f2; */
  /* text-align: center; */
  /* padding: 14px 16px; */
  /* text-decoration: none; */
  /* font-size: 17px; */
  background: url('assets/images/icons/header-icons.png') no-repeat;
  display: inline-block;
  height: 100px;
  width: 100px;
  scale: 0.6;
  cursor: pointer;
  border: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a.question {
  background-position: 0px 0px;
}

.row {
  display: flex;
}

.column {
  /* flex: 1%; */
  /* padding: 5px; */
}